/* ------------------------ general settings ---------------------------*/
* {
  font-family: Helvetica, Arial, "Courier New", Courier, monospace;
}

h2 {
  color: green;
}

/* ------------------------ navigation header design settings ---------------------------*/
header nav a {
  text-decoration: none;
  background-color: #00ff00;
  padding: 4px 8px 4px 8px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  margin: 5px;
  color: black;
}

header {
  background-color: rgb(30, 30, 30);
  padding: 15px;
}

header #header{
  max-width: 1500px;
  margin: 0 auto;
}

header nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}

header nav#login{
  float: right;
}

header :hover {
  color: white;
}

/* ------------------------body settings ---------------------------*/

#centerdesign{
  max-width: 1500px;
  margin: 0 auto;
}

body {
  margin: 0px;  
}

div#centerdesign {
  display: flex;
  flex-direction: column;
}

main {
  padding: 15px;
}

aside {
  padding: 3px;
  margin: 10px;
  border: 2px rgb(0, 255, 0) solid;
  border-radius: 10px;
  flex: 1;
}

aside h4{
  margin: 0px;
}

footer {
  padding: 15px;
}


/* ------------------------ display size settings ---------------------------*/
@media screen and (max-width: 768px) {
  header nav#menu {
    display: flex;
    flex-direction: column;
  }

  header img{
    width: 90%;
    height: auto;
  }

}
