* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: green;
}

.holiday-card {
    margin: 10px;
    height: 200px;
    display: grid;
    grid-template-columns: auto 10px auto auto 10%;
    grid-template-areas: "img . title title price" "img . desc desc desc" "img . from until details";
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #F7F7F7;
    padding: 10px;
}

.holiday-card img {
    grid-area: img;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.hotel-name {
    grid-area: title;
    font-style: italic;
}

.hotel-price {
    grid-area: price;
    color: green;
    font-weight: bold;
}

.hotel-description {
    grid-area: desc;
}

.hotel-startDate {
    grid-area: from;
}

.hotel-endDate {
    grid-area: until;
}

 .hotel-showDetails{
    grid-area: details;
    border: 1px solid gray;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: green;
    color: white;
    text-decoration: none;
}

 .hotel-showDetails:hover{
    background-color: limegreen;
}  