#container {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
}

#imagefigure img{
    width: 100%;
}

@media screen and (max-width: 768px) {
  #container {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

main#roomdetails {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "roominfo roomimage"
    "booking roomimage";
}

@media screen and (max-width: 480px) {
  main#roomdetails {
    grid-template-columns: auto;
    grid-template-areas:
      "roominfo"
      "booking"
      "roomimage";
  }
}

section#roominfo {
  grid-area: roominfo;
}

section#roomimage {
  grid-area: roomimage;
}

section#booking {
  grid-area: booking;
}
