* {
  font-family: Helvetica, Arial, "Courier New", Courier, monospace;
}

header {
  background-color: rgb(51, 51, 51);
  background: -prefix-linear-gradient(top, white, blue); 
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 15px;
}

header :hover {
  color: white;
}

header :link, :visited {
  color: rgb(0, 255, 0);
}


header nav ul li {
  display: inline;
  list-style: none;
  margin-right: 10px;
}

aside {
  padding: 3px;
  margin: 3px;
  border: 2px rgb(0, 255, 0) solid;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 15px;
}



div#centerdesign{
  display: flex;
  flex-direction: row;
  
}
















@media screen and (max-width: 768px) {
  header h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    /*visibility: hidden;*/
    display: none;
  }
}
