* {
  font-family: Helvetica, Arial, "Courier New", Courier, monospace;
}

header nav a {
  text-decoration: none;
  background-color: #00ff00;
  padding: 4px 8px 4px 8px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  margin: 5px;
  color: black;
}

body {
  margin: 0px;  
}

header {
  background-color: rgb(30, 30, 30);
  padding: 15px;
}

header #header{
  max-width: 1500px;
  margin: 0 auto;
}



#centerdesign{
  max-width: 1500px;
  margin: 0 auto;
}

header :hover {
  color: white;
}

header nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}

header nav#login{
  float: right;
}


main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex: 3;
}

aside {
  padding: 3px;
  margin: 10px;
  border: 2px rgb(0, 255, 0) solid;
  border-radius: 10px;
  flex: 1;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 15px;
}

div#centerdesign {
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 768px) {
  div#centerdesign {
    display: flex;
    flex-direction: column-reverse;
  }

  header nav#menu {
    display: flex;
    flex-direction: column;
  }

  header img{
    height: 100px;
  }

}
