main {
  display: flex;
  flex-wrap: wrap;
}

.raumverlinkungen {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 130px;
  height: 130px;
  background-color: lime;
  border-radius: 30px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .raumverlinkungen {
    font-size: 0.8em;
    border-radius: 20px;
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .raumverlinkungen {
    font-size: 0.6em;
    border-radius: 10px;
    width: 80px;
    height: 80px;
  }
}

