/* ------------------------ Style ---------------------------*/
.form {
  margin: auto;
  position: relative;
  background: #ffffff;
  padding: 45px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  background: #f2f2f2;
  border: 0;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
}

.form button {
    background: #4caf50;
    border: 0;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
  }

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

.form h1{
  margin-bottom: 50px;
}

.search_item{
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: flex-start;
}

.search_item h4{
  margin: 0px;
}


/* ------------------------ display layout ---------------------------*/
.search-form #item_min {
  grid-area: mincost;
}

.search-form #item_max {
  grid-area: maxcost;
}

.search-form #item_continent {
  grid-area: continent;
}

.search-form #item_country {
  grid-area: country;
}

.search-form #item_city {
  grid-area: city;
}

.search-form #item_start {
  grid-area: startdate;
}

.search-form #item_end {
  grid-area: enddate;
}

.search-form #item_person {
  grid-area: person;
}

.search-form #search_start {
  grid-area: start;
}

.search-form {
  height: auto;
  display: grid;
  align-items: center;

  grid-template-columns: 1 1 1;
  grid-template-areas:
    "mincost maxcost person"
    "startdate enddate ."
    "continent country city"
    "start start start";
}

/* ------------------------ display size settings ---------------------------*/
@media screen and (max-width: 768px) {

  .search-form {
    height: auto;
    display: grid;
    align-items: center;
  
    grid-template-columns: 100%;
    grid-template-areas:
      "mincost"
      "maxcost"
      "person"
      "startdate"
      "enddate"
      "continent"
      "country"
      "city"
      "start";
  }

  .form {    
    padding: 30px;
  }
  
}