.row {
    display: flex;
    flex-wrap: wrap;
}

.row p {
    margin-right: 20px;
}

.place::before {
    content: url("../img/place-icon16.png");
    margin-right: 5px;
}

.buchen-button{
    float: right;
    border-radius: 5px;
    background-color: green;
    border: 1px solid gray;
    color: white;
}

.buchen-button:hover{
    background-color: limegreen;
}