<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FAK Reiseportal</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style_index.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style_holiday_card.css}"/>/>
</head>
<body>
  <header th:replace="fragments/header :: header"/>
  <div id="centerdesign">
    <aside th:replace="fragments/aside :: aside"/>
    <main>


      <h2>Deine Buchungen</h2>


      <div th:each="recommended : ${recommendations}" class="holiday-card">
        <h4 class="hotel-name" th:text="${recommended.hotel.name}">Luxury Bahia Principe Akumal</h4>
        <img class="hotel-img" src="../static/img/Luxury_Bahia_Principe.jfif" th:src="${recommended.hotel.imagePath}" alt="Bild vom Hotel"/>
        <!-- <p class="hotel-country" th:text="${recommended.country}">Germany</p> -->
        <!-- <p class="hotel-city" th:text="${recommended.city}">Dortmund</p> -->
        <p class="hotel-description" th:text="${recommended.hotel.description}"/>
        <p class="hotel-startDate" th:text="@{${#dates.format(recommended.startDate, 'dd-MMM-yyyy')}}"/>
        <p class="hotel-endDate" th:text="@{${#dates.format(recommended.endDate, 'dd-MMM-yyyy')}}"/>
        <p class="hotel-price" th:text="@{${recommended.totalPrice} + ' ' + ${recommended.currency}}"/>
        <a class="hotel-showDetails" th:href="@{'/offer/' + ${recommended.id}}">Details anzeigen</a>
      </div>

    </main>



    <footer th:replace="fragments/footer :: footer"/>
  </div>
  <script th:inline="javascript">
    let options = document.getElementById('sorting').getElementsByTagName('option');
    for(let i = 0; i < options.length; i++)
      if(options[i].value === /*[[${sorting}]]*/ 'none') {
        options[i].selected = 'selected';
        break;
      }
  </script>
</body>
</html>