<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAK Error</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_index.css"
      th:href="@{/css/style_index.css}"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/style_account.css" th:href="@{/css/style_account.css}"/>
  </head>

  <body>
  <header th:replace="fragments/header :: header"/>

    <div id="centerdesign">
      <main>
      
        <div class="login-page">
          <div class="form">
            <form class="login-form">
              <div th:if="${errormsg}">
                <h1 th:text="${errormsg}"></h1>
                <a href="javascript:location=location.href" class="button">Okay</a>
              </div>
              <div th:unless="${errormsg}">
                <h1>Ein interner Fehler ist aufgetreten</h1>
                <a href="/" class="button">Okay</a>
              </div>
            </form>
          </div>
        </div>

      </main>

      <footer th:replace="fragments/footer :: footer"/>
    </div>
  </body>
</html>
