<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Titel des Hotels</title>
</head>

<body>
    <main>
        <h2>Bahia Principe Luxury Akumal &starf;&starf;&starf;&starf;&starf;</h2>


        
        <div class="row">
            <p class="place"><b>Mexiko - Akumal</b></p>
            <p><b>Bewertung:</b> &starf;&starf;&starf;&starf;&star;</p>
        </div>

        <img width="100%" src="../img/example.jfif" alt="Bild vom Hotel" />

        <h3>Beschreibung</h3>
        <p>
            Ein Hauch von Luxus und Exklusivität direkt am Strand: der perfekte Ort für alle, die erstklassigen Service
            in einem Hotel am Meeresufer suchen.
            Der dazugehörige Golfplatz und die modernen Ferienchalets bietet Exklusivität on top.
        </p>

        <div class="hotel-details row">
            <p><b>Zeitraum:</b> 01.07.2020 - 15.07.2020</p>
            <p><b>Verpflegung:</b> all-inclusive</p>
            <p><b>Reiseveranstalter:</b> DER Touristik</p>
            <p><b>Preis:</b> 2500&euro;</p>
        </div>

        <form action="POST">
            <input class="buchen-button" type="submit" name="buchen" value="Kostenpflichtig buchen">
        </form>
        

    </main>
</body>

</html>