<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet" type="text/css" href="../static/css/style_index.css" th:href="@{/css/style_index.css}" />
    <link
      rel="stylesheet" type="text/css" href="../static/css/style_holiday-detail.css" />
    <title>Bahia Principe Luxury Akumal</title>
  </head>

  <body>
    <header>
      <div id="header">
        <nav id="login">
          <a href="login.html">Anmelden</a>
          <a href="registration.html">Registrieren</a>
        </nav>

        <div id="logo">
          <a href="index.html">
            <img src="../img/titel.png" height="120" alt="Titelbild" />
          </a>
          <br />
        </div>

        <nav id="menu">
          <a href="index.html">Suche</a>
          <a href="index.html">Meine Buchungen</a>
          <a href="index.html">Favoriten</a>
          <a href="impressum.html">Impressum</a>
        </nav>
      </div>
    </header>

    <div id="centerdesign">
      <aside id="zusatzinformationen">
        <h4>Unterstützung zum Coronavirus (COVID-19)</h4>

        Bitte informieren Sie sich über Reiseeinschränkungen. Möglicherweise
        sind Reisen nur für bestimmte Zwecke erlaubt und insbesondere
        touristische Reisen sind unter Umständen nicht gestattet.
      </aside>

      <main id="hauptinhalt">
        <h2>
          Bahia Principe Luxury Akumal &starf;&starf;&starf;&starf;&starf;
        </h2>

        <div class="row">
          <p class="place"><b>Mexiko - Akumal</b></p>
          <p><b>Bewertung:</b> &starf;&starf;&starf;&starf;&star;</p>
        </div>

        <img width="100%" src="../img/example.jfif" alt="Bild vom Hotel" />

        <h3>Beschreibung</h3>
        <p>
          Ein Hauch von Luxus und Exklusivität direkt am Strand: der perfekte
          Ort für alle, die erstklassigen Service in einem Hotel am Meeresufer
          suchen. Der dazugehörige Golfplatz und die modernen Ferienchalets
          bietet Exklusivität on top.
        </p>

        <div class="hotel-details row">
          <p><b>Zeitraum:</b> 01.07.2020 - 15.07.2020</p>
          <p><b>Verpflegung:</b> all-inclusive</p>
          <p><b>Reiseveranstalter:</b> DER Touristik</p>
          <p><b>Preis:</b> 2500&euro;</p>
        </div>

        <form action="POST">
          <input
            class="buchen-button"
            type="submit"
            name="buchen"
            value="Kostenpflichtig buchen"
          />
        </form>
      </main>

      <footer>
        <br />
        <small>&copy;Copyright FAK Technology</small>
      </footer>
      
    </div>
  </body>
</html>