<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impressum</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_index.css" th:href="@{/css/style_index.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style_holiday_card.css" th:href="@{/css/style_holiday_card.css}/>
  </head>

  <body>
    <header>
      <div id="header">
        <nav id="login">
          <a href="login">Anmelden</a>
          <a href="registration">Registrieren</a>
        </nav>

        <div id="logo">
          <a href="/">
            <img src="../static/img/titel.png" th:src="@{/img/titel.png}" height="120" alt="Titelbild" />
          </a>
          <br />
        </div>

        <nav id="menu">
          <a href="index">Suche</a>
          <a href="/">Meine Buchungen</a>
          <a href="profile">Mein Profil</a>
          <a href="impressum">Impressum</a>
        </nav>
      </div>
    </header>

    <div id="centerdesign">
      <main>
        <p>§ 1 Warnhinweis zu Inhalten</p>
        Die kostenlosen und frei zugänglichen Inhalte dieser Webseite wurden mit
        größtmöglicher Sorgfalt erstellt. Der Anbieter dieser Webseite übernimmt
        jedoch keine Gewähr für die Richtigkeit und Aktualität der
        bereitgestellten kostenlosen und frei zugänglichen journalistischen
        Ratgeber und Nachrichten. Namentlich gekennzeichnete Beiträge geben die
        Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters
        wieder. Allein durch den Aufruf der kostenlosen und frei zugänglichen
        Inhalte kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem
        Anbieter zustande, insoweit fehlt es am Rechtsbindungswillen des
        Anbieters.
        <br />
        ​

        <p>§ 2 Externe Links</p>
        Diese Website enthält Verknüpfungen zu Websites Dritter ("externe
        Links"). Diese Websites unterliegen der Haftung der jeweiligen
        Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung der externen
        Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße
        bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der
        Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige
        Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von
        externen Links bedeutet nicht, dass sich der Anbieter die hinter dem
        Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige
        Kontrolle der externen Links ist für den Anbieter ohne konkrete Hinweise
        auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen
        werden jedoch derartige externe Links unverzüglich gelöscht.
        <br />

        <p>§ 3 Urheber- und Leistungsschutzrechte</p>
        Die auf dieser Website veröffentlichten Inhalte unterliegen dem
        deutschen Urheber- und Leistungsschutzrecht. Jede vom deutschen Urheber-
        und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der
        vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen
        Rechteinhabers. Dies gilt insbesondere für Vervielfältigung,
        Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe
        von Inhalten in Datenbanken oder anderen elektronischen Medien und
        Systemen. Inhalte und Rechte Dritter sind dabei als solche
        gekennzeichnet. Die unerlaubte Vervielfältigung oder Weitergabe
        einzelner Inhalte oder kompletter Seiten ist nicht gestattet und
        strafbar. Lediglich die Herstellung von Kopien und Downloads für den
        persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt. Die
        Darstellung dieser Website in fremden Frames ist nur mit schriftlicher
        Erlaubnis zulässig.​
        <br />

        <p>§ 4 Besondere Nutzungsbedingungen</p>
        Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von
        den vorgenannten Paragraphen abweichen, wird an entsprechender Stelle
        ausdrücklich darauf hingewiesen. In diesem Falle gelten im jeweiligen
        Einzelfall die besonderen Nutzungsbedingungen.
        <br />

        <p>Datenschutzerklärung:</p>
        <p>Datenschutz</p>
        Nachfolgend möchten wir Sie über unsere Datenschutzerklärung
        informieren. Sie finden hier Informationen über die Erhebung und
        Verwendung persönlicher Daten bei der Nutzung unserer Webseite. Wir
        beachten dabei das für Deutschland geltende Datenschutzrecht. Sie können
        diese Erklärung jederzeit auf unserer Webseite abrufen. Wir weisen
        ausdrücklich darauf hin, dass die Datenübertragung im Internet (z.B. bei
        der Kommunikation per E-Mail) Sicherheitslücken aufweisen und nicht
        lückenlos vor dem Zugriff durch Dritte geschützt werden kann. Die
        Verwendung der Kontaktdaten unseres Impressums zur gewerblichen Werbung
        ist ausdrücklich nicht erwünscht, es sei denn wir hatten zuvor unsere
        schriftliche Einwilligung erteilt oder es besteht bereits eine
        Geschäftsbeziehung. Der Anbieter und alle auf dieser Website genannten
        Personen widersprechen hiermit jeder kommerziellen Verwendung und
        Weitergabe ihrer Daten.
        <br />
        ​ Datenübermittlung /Datenprotokollierung<br />
        Beim Besuch dieser Seite verzeichnet der Web-Server automatisch
        Log-Files, die keiner bestimmten Person zugeordnet werden können. Diese
        Daten beinhalten z. B. den Browsertyp und -version, verwendetes
        Betriebssystem, Referrer URL (die zuvor besuchte Seite), IP-Adresse des
        anfragenden Rechners, Zugriffsdatum und -uhrzeit der Serveranfrage und
        die Dateianfrage des Client (Dateiname und URL). Diese Daten werden nur
        zum Zweck der statistischen Auswertung gesammelt. Eine Weitergabe an
        Dritte, zu kommerziellen oder nichtkommerziellen Zwecken, findet nicht
        statt.
        <br />

        Nutzung persönlicher Daten<br />
        Persönliche Daten werden nur erhoben oder verarbeitet, wenn Sie diese
        Angaben freiwillig, z.B. im Rahmen einer Anfrage mitteilen. Sofern keine
        erforderlichen Gründe im Zusammenhang mit einer Geschäftsabwicklung
        bestehen, können Sie jederzeit die zuvor erteilte Genehmigung Ihrer
        persönlichen Datenspeicherung mit sofortiger Wirkung schriftlich (z.B.
        per E-Mail oder per Fax) widerrufen. Ihre Daten werden nicht an Dritte
        weitergeben, es sei denn, eine Weitergabe ist aufgrund gesetzlicher
        Vorschriften erforderlich.
        <br />

        Sicherheit Ihrer Daten<br />
        Ihre uns zur Verfügung gestellten persönlichen Daten werden durch
        Ergreifung aller technischen sowie organisatorischen
        Sicherheitsmaßnahmen so gesichert, dass sie für den Zugriff
        unberechtigter Dritter unzugänglich sind. Bei Versendung von sehr
        sensiblen Daten oder Informationen ist es empfehlenswert, den Postweg zu
        nutzen, da eine vollständige Datensicherheit per E-Mail nicht
        gewährleistet werden kann.
        <br />

        ​Rechtsgrundlage der Datenverarbeitung ist: Art. 13 Abs. 1 c DSGVO.
        <br />

        ​
        <p>Personenbezogene Daten</p>
        Sie können unsere Webseite ohne Angabe personenbezogener Daten besuchen.
        Soweit auf unseren Seiten personenbezogene Daten (wie Name, Anschrift
        oder E-Mail Adresse) erhoben werden, erfolgt dies, soweit möglich, auf
        freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche
        Zustimmung nicht an Dritte weitergegeben. Sofern zwischen Ihnen und uns
        ein Vertragsverhältnis begründet, inhaltlich ausgestaltet oder geändert
        werden soll oder Sie an uns eine Anfrage stellen, erheben und verwenden
        wir personenbezogene Daten von Ihnen, soweit dies zu diesen Zwecken
        erforderlich ist (Bestandsdaten). Wir erheben, verarbeiten und nutzen
        personenbezogene Daten soweit dies erforderlich ist, um Ihnen die
        Inanspruchnahme des Webangebots zu ermöglichen (Nutzungsdaten).
        Sämtliche personenbezogenen Daten werden nur solange gespeichert wie
        dies für den genannten Zweck (Bearbeitung Ihrer Anfrage oder Abwicklung
        eines Vertrags) erforderlich ist. Hierbei werden steuer- und
        handelsrechtliche Aufbewahrungsfristen berücksichtigt. Auf Anordnung der
        zuständigen Stellen dürfen wir im Einzelfall Auskunft über diese Daten
        (Bestandsdaten) erteilen, soweit dies für Zwecke der Strafverfolgung,
        zur Gefahrenabwehr, zur Erfüllung der gesetzlichen Aufgaben der
        Verfassungsschutzbehörden oder des Militärischen Abschirmdienstes oder
        zur Durchsetzung der Rechte am geistigen Eigentum erforderlich ist.
        <br />
        ​

        <p>Datenschutzerklärung für Google Maps von Google Inc.</p>
        Diese Website verwendet die „Google Maps und Routenplaner“- Funktion der
        Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, United
        States („Google“), um geographische Informationen und Anfahrtrouten
        darzustellen bzw. zu berechnen. Durch Google Maps können Daten über Ihre
        Nutzung dieser Webseite an Google übertragen, erhoben und von Google
        genutzt werden. Sie können eine solche Datenübertragung verhindern, wenn
        Sie in Ihrem Browser „Javascript“ deaktivieren. In dem Falle können aber
        keine Karten angezeigt werden. Durch die Nutzung dieser Webseite und die
        Nichtdeaktivierung von „Javascript“ erklären Sie Ihr Einverständnis,
        dass Sie mit der Bearbeitung Ihrer Daten durch Google zum obigen Zwecke
        einverstanden sind. Weitere Informationen darüber wie „Google Maps“ und
        der Routenplaner Ihre Daten verwenden sowie die Datenschutzerklärung von
        Google finden Sie unter:
        https://www.google.com/intl/de_de/help/terms_maps.html
        <br />

        <p>Betroffenenrechte</p>
        Sie haben das jederzeitige Recht, sich unentgeltlich und unverzüglich
        über die zu Ihrer Person erhobenen Daten zu erkundigen und diese dann
        gegebenenfalls berichtigen zu lassen. Sie haben das jederzeitige Recht,
        Ihre Zustimmung zur Verwendung Ihrer angegeben persönlichen Daten mit
        Wirkung für die Zukunft zu widerrufen und eine Löschung oder Sperrung
        Ihrer Daten anzufordern. Außerdem haben Sie das Recht auf
        Datenübertragbarkeit und das Recht auf Einschränkung der Verarbeitung
        und Widerspruch gegen die Verarbeitung. Bei jeglichen Fragen oder
        Geltungsmachung Ihrer Rechte wenden Sie sich bitte an den
        Ansprechpartner unter den Kontaktdaten im Impressum.
        <br />

        <p>Erhebung personenbezogener Daten bei Besuch unserer Website</p>

        (1) Bei der bloß informatorischen Nutzung der Website, also wenn Sie
        sich nicht registrieren oder uns anderweitig Informationen übermitteln,
        erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren
        Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben
        wir die folgenden Daten, die für uns technisch erforderlich sind, um
        Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu
        gewährleisten (Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f DS-GVO): –
        IP-Adresse – Datum und Uhrzeit der Anfrage – Zeitzonendifferenz zur
        Greenwich Mean Time (GMT) – Inhalt der Anforderung (konkrete Seite) –
        Zugriffsstatus/HTTP-Statuscode – jeweils übertragene Datenmenge –
        Website, von der die Anforderung kommt – Browser – Betriebssystem und
        dessen Oberfläche – Sprache und Version der Browsersoftware.
        <br />

        (2) Zusätzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung
        unserer Website Cookies auf Ihrem Rechner gespeichert. Bei Cookies
        handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von
        Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche
        der Stelle, die den Cookie setzt (hier durch uns), bestimmte
        Informationen zufließen. Cookies können keine Programme ausführen oder
        Viren auf Ihren Computer übertragen. Sie dienen dazu, das
        Internetangebot insgesamt nutzerfreundlicher und effektiver zu machen.
        <br />

        (3) Einsatz von Cookies:<br />
        a) Diese Website nutzt folgende Arten von Cookies, deren Umfang und
        Funktionsweise im Folgenden erläutert werden:<br />
        – Transiente Cookies (dazu b)<br />
        – Persistente Cookies (dazu c).<br />
        b) Transiente Cookies werden automatisiert gelöscht, wenn Sie den
        Browser schließen. Dazu zählen insbesondere die Session-Cookies. Diese
        speichern eine sogenannte Session-ID, mit welcher sich verschiedene
        Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch
        kann Ihr Rechner wiedererkannt werden, wenn Sie auf unsere Website
        zurückkehren. Die Session-Cookies werden gelöscht, wenn Sie sich
        ausloggen oder den Browser schließen.<br />
        c) Persistente Cookies werden automatisiert nach einer vorgegebenen
        Dauer gelöscht, die sich je nach Cookie unterscheiden kann. Sie können
        die Cookies in den Sicherheitseinstellungen Ihres Browsers jederzeit
        löschen.<br />
        d) Sie können Ihre Browser-Einstellung entsprechend Ihren Wünschen
        konfigurieren und z. B. die Annahme von Third-Party-Cookies oder allen
        Cookies ablehnen. Wir weisen Sie darauf hin, dass Sie eventuell nicht
        alle Funktionen dieser Website nutzen können.<br />
      </main>

      <footer>
        <br />
        <small>&copy;Copyright FAK Technology</small>
      </footer>
    </div>
    
  </body>
</html>
