<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raumbuchung</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_index.css" th:href="@{/css/style_index.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style_holiday_card.css" />
  </head>

  <body>
    <header>
      <div id="header">
        <nav id="login">
          <a href="login.html">Anmelden</a>
          <a href="index.html">Registrieren</a>
        </nav>

        <div id="logo">
          <a href="index.html">
            <img src="../img/titel.png" height="120" alt="Titelbild" />
          </a>
          <br/>
        </div>

        <nav id="menu">
          <a href="index.html">Suche</a>
          <a href="holidays.html">Meine Buchungen</a>
          <a href="index.html">Favoriten</a>
          <a href="index.html">Impressum</a>
        </nav>
      </div>
    </header>


    <div id="centerdesign">

      <aside id="zusatzinformationen">
        <h4>Unterstützung zum Coronavirus (COVID-19)</h4>
        
        Bitte informieren Sie sich über Reiseeinschränkungen. Möglicherweise
        sind Reisen nur für bestimmte Zwecke erlaubt und insbesondere
        touristische Reisen sind unter Umständen nicht gestattet.
      </aside>

      <main id="hauptinhalt">

        



        <h2>Suche deinen traumhaften Urlaub</h2>
        <div class="search-bar">
            <form>
                <input type="text" placeholder="Reiseziel, Hotel oder Ort eingeben"/>
            </form>
        </div>
    
        <h3>Wir empfehlen Ihnen...</h3>
        <div th:each="recommended : ${recommendations}" class="holiday-card">
            <h4 class="hotel-name" th:text="${recommended.hotel.name}">Luxury Bahia Principe Akumal</h4>
            <img class="hotel-img" src="../img/example.jfif" alt="Bild vom Hotel"/>
            <!--<p class="hotel-country" th:text="${recommended.country}">Germany</p>-->
            <!-- <p class="hotel-city" th:text="${recommended.city}">Dortmund</p> -->
            <p class="hotel-description" th:text="${recommended.hotel.description}">Ein Hauch von Luxus und Exklusivität direkt am Strand: der perfekte Ort für alle, die erstklassigen Service in einem Hotel am Meeresufer suchen. Der dazugehörige Golfplatz und die modernen Ferienchalets bietet Exklusivität on top.</p>
            <p class="hotel-startDate" th:text="${recommended.startDate}">Beginn: 05.03.2020</p>
            <p class="hotel-endDate" th:text="${recommended.endDate}">Rückreise: 18.05.2020</p>
            <p class="hotel-price" th:text="${recommended.pricePerDay}">2500€</p>
            <a class="hotel-showDetails" href="holiday-detail.html">Details anzeigen</a>
        </div>
    
        <div th:each="recommended : ${recommendations}" class="holiday-card">
            <h4 class="hotel-name" th:text="${recommended.hotel.name}">Luxury Bahia Principe Akumal</h4>
            <img class="hotel-img" src="../img/example.jfif" alt="Bild vom Hotel"/>
            <!--<p class="hotel-country" th:text="${recommended.country}">Germany</p>-->
            <!-- <p class="hotel-city" th:text="${recommended.city}">Dortmund</p> -->
            <p class="hotel-description" th:text="${recommended.hotel.description}">Ein Hauch von Luxus und Exklusivität direkt am Strand: der perfekte Ort für alle, die erstklassigen Service </p>
            <p class="hotel-startDate" th:text="${recommended.startDate}">Beginn: 05.03.2020</p>
            <p class="hotel-endDate" th:text="${recommended.endDate}">Rückreise: 18.05.2020</p>
            <p class="hotel-price" th:text="${recommended.pricePerDay}">2500€</p>
            <a class="hotel-showDetails" href="holiday-detail.html">Details anzeigen</a>
        </div>
    







      </main>
      
      <footer>
        <br />
        <small>&copy;Copyright FAK Technology</small>
      </footer>
    </div>


  </body>
</html>
