<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAK Reiseportal</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_index.css" th:href="@{/css/style_index.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style_holiday_card.css" th:href="@{/css/style_holiday_card.css}"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header"/>


    <div id="centerdesign">
        <aside th:replace="fragments/aside :: aside"/>

      <main>

        <h3>Wir empfehlen Ihnen...</h3>

        <div th:each="recommended : ${recommendations}" class="holiday-card">
            <h4 class="hotel-name" th:text="${recommended.hotel.name}">Luxury Bahia Principe Akumal</h4>
            <img class="hotel-img" src="../static/img/Luxury_Bahia_Principe.jfif" th:src="${recommended.hotel.imagePath}" alt="Bild vom Hotel"/>
            <!-- <p class="hotel-country" th:text="${recommended.country}">Germany</p> -->
            <!-- <p class="hotel-city" th:text="${recommended.city}">Dortmund</p> -->
            <p class="hotel-description" th:text="${recommended.hotel.description}">Ein Hauch von Luxus und Exklusivität direkt am Strand: der perfekte Ort für alle, die erstklassigen Service in einem Hotel am Meeresufer suchen. Der dazugehörige Golfplatz und die modernen Ferienchalets bietet Exklusivität on top.</p>

            <p class="hotel-startDate" th:text="@{${#dates.format(recommended.startDate, 'dd-MMM-yyyy')}}">Rückreise: 18.05.2020</p>
            <p class="hotel-endDate" th:text="@{${#dates.format(recommended.endDate, 'dd-MMM-yyyy')}}">Rückreise: 18.05.2020</p>

            <p class="hotel-price" th:text="@{${recommended.totalPrice} + ' ' + ${recommended.currency}}">2500€</p>
            <a class="hotel-showDetails" href="holiday-detail.html" th:href="@{'holiday/' + ${recommended.id}}">Details anzeigen</a>
        </div>


      </main>

        <footer th:replace="fragments/footer :: footer"/>
    </div>

  </body>
</html>