<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAK Reiseportal</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_index.css" th:href="@{/css/style_index.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style_holiday_card.css" th:href="@{/css/style_holiday_card.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style_search.css" th:href="@{/css/style_search.css}" />
  </head>

  <body>
    <header th:replace="fragments/header :: header"/>


    <div id="centerdesign">
        <aside th:replace="fragments/aside :: aside"/>

      <main>


        <h2>Reisesuche</h2>

        <div class="form">
          <form class="search-form" method="get" action="/">
            <div class="search_item" id="item_min">
              <span>Min. Kosten:</span>
              <input type="number" id="search_min_cost" placeholder="Min. Kosten" name="search_min_cost" th:value="${search_min_cost}"/>
            </div>
            <div class="search_item" id="item_max">
              <span>Max. Kosten:</span>
              <input type="number" id="search_max_cost" placeholder="Max. Kosten" name="search_max_cost" th:value="${search_max_cost}"/>
            </div>

            <div class="search_item" id="item_continent" >
              <span>Kontinent:</span>
              <input type="text" id="search_continent" placeholder="Kontinent" name="search_continent" th:value="${search_continent}"/>
            </div>
            <div class="search_item" id="item_country">
              <span>Land:</span>
              <input type="text" id="search_country" placeholder="Land" name="search_country" th:value="${search_country}"/>
            </div>
            <div class="search_item" id="item_city">
              <span>Stadt:</span>
              <input type="text" id="search_city" placeholder="Stadt" name="search_city" th:value="${search_city}"/>
            </div>

            <div class="search_item" id="item_start">
              <span>Start Datum:</span>
              <input type="date" id="search_start_date" placeholder="Start Datum" name="search_start_date" th:value="${search_start_date}"/>
            </div>
            <div class="search_item" id="item_end">
              <span>End Datum:</span>
              <input type="date" id="search_end_date" placeholder="End Datum" name="search_end_date" th:value="${search_end_date}"/>
            </div>
            <div class="search_item" id="item_person">
              <span>Anzahl Personen:</span>
              <input type="number" id="search_person" placeholder="Anzahl Personen" name="search_person" th:value="${search_person}"/>
            </div>
            <div class="search_item" id="item_sorting">
              <span>Sortieren nach:</span>
              <select name="sorting">
                <option value="none">Keine</option>
                <option value="hotelname">Hotelname</option>
                <option value="totalprice">Gesamtpreis</option>
              </select>
            </div>

            <button id="search_start">Suchen</button>
          </form>
        </div>




        <h2>Wir empfehlen Ihnen...</h2>
        <!--<div class="sorting">
          <button type="button" name="sorting" value="hotelname">Hotelname</button>
          <button type="button" name="sorting" value="totalPrice">Gesamtpreis</button>

            <p>Sortiere nach: </p>
            <a href="/holidays/hotelName">Hotelname</a>
            <a href="/holidays/totalPrice">Gesamtpreis</a>
            <a href="/holidays/pricePerDay">Preis pro Tag</a>
            <a href="/holidays/travelDuration">Dauer</a>
            <a href="/holidays/none">Keine Sortierung</a>
          </div>-->
        
        <div th:each="recommended : ${recommendations}" class="holiday-card">
            <h4 class="hotel-name" th:text="${recommended.hotel.name}">Luxury Bahia Principe Akumal</h4>
            <img class="hotel-img" src="../static/img/Luxury_Bahia_Principe.jfif" th:src="${recommended.hotel.imagePath}" alt="Bild vom Hotel"/>
            <!-- <p class="hotel-country" th:text="${recommended.country}">Germany</p> -->
            <!-- <p class="hotel-city" th:text="${recommended.city}">Dortmund</p> -->
            <p class="hotel-description" th:text="${recommended.hotel.description}">Ein Hauch von Luxus und Exklusivität direkt am Strand: der perfekte Ort für alle, die erstklassigen Service in einem Hotel am Meeresufer suchen. Der dazugehörige Golfplatz und die modernen Ferienchalets bietet Exklusivität on top.</p>

            <p class="hotel-startDate" th:text="@{${#dates.format(recommended.startDate, 'dd-MMM-yyyy')}}">Rückreise: 18.05.2020</p>
            <p class="hotel-endDate" th:text="@{${#dates.format(recommended.endDate, 'dd-MMM-yyyy')}}">Rückreise: 18.05.2020</p>

            <p class="hotel-price" th:text="@{${recommended.totalPrice} + ' ' + ${recommended.currency}}">2500€</p>
            <a class="hotel-showDetails" href="holiday-detail.html" th:href="@{'/holiday/' + ${recommended.id}}">Details anzeigen</a>
        </div>


      </main>

        <footer th:replace="fragments/footer :: footer"/>
    </div>

  </body>
</html>