<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAK Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_index.css"
      th:href="@{/css/style_index.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_account.css"
      th:href="@{/css/style_account.css}"
    />
  </head>

  <body>
    <header>
      <div id="header">
        <nav id="login">
          <a href="login">Anmelden</a>
          <a href="registration">Registrieren</a>
        </nav>

        <div id="logo">
          <a href="/">
            <img src="../static/img/titel.png" th:src="@{/img/titel.png}" height="120" alt="Titelbild" />
          </a>
          <br />
        </div>

        <nav id="menu">
          <a href="search">Suche</a>
          <a href="index">Meine Buchungen</a>
          <a href="profile">Mein Profil</a>
          <a href="impressum">Impressum</a>
        </nav>
      </div>
    </header>

    <div id="centerdesign">
      <main>
        
        <div class="login-page">
            <div class="form">
              <form class="register-form">
                <h1>Mein Profil</h1>
                <input th:value="${profile.firstName}" type="text" placeholder="Vornamen"/>
                <input th:value="${profile.lastName}" type="text" placeholder="Nachnamen"/>
                <input th:value="${profile.password}" type="password" placeholder="Passwort"/>
                <input th:value="${profile.mailAddress}" type="text" placeholder="E-Mail Adresse"/>
                <button>Speichern</button>
              </form>
  
            </div>
          </div>
      </main>

      <footer>
        <br />
        <small>&copy;Copyright FAK Technology</small>
      </footer>
    </div>
  </body>
</html>