<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAK Reiseportal</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_index.css"
      th:href="@{/css/style_index.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_search.css"
      th:href="@{/css/style_search.css}"
    />
  </head>

  <body>
  <header th:replace="fragments/header :: header"/>

    <div id="centerdesign">
      <aside th:replace="fragments/aside :: aside"/>

      <main>
        
        <h1>Reisesuche</h1>

        <div class="form">
          
          <form class="search-form" method="get">

            <div class="search_item" id="item_min">
              <span>Min. Kosten:</span>
              <input type="number" id="search_min_cost" placeholder="Min. Kosten" name="search_min_cost"/>
            </div>
            <div class="search_item" id="item_max">
              <span>Max. Kosten:</span>
              <input type="number" id="search_max_cost" placeholder="Max. Kosten" name="search_max_cost"/>
            </div>

            <div class="search_item" id="item_continent" >
              <span>Kontinent:</span>
              <input type="text" id="search_continent" placeholder="Kontinent" name="search_continent"/>
            </div>
            <div class="search_item" id="item_country">
              <span>Land:</span>
              <input type="text" id="search_country" placeholder="Land" name="search_country"/>
            </div>
            <div class="search_item" id="item_city">
              <span>Stadt:</span>
              <input type="text" id="search_city" placeholder="Stadt" name="search_city"/>
            </div>

            <div class="search_item" id="item_start">
              <span>Start Datum:</span>
              <input type="date" id="search_start_date" placeholder="Start Datum" name="search_start_date"/>
            </div>
            <div class="search_item" id="item_end">
              <span>End Datum:</span>
              <input type="date" id="search_end_date" placeholder="End Datum" name="search_end_date"/>
            </div>
            <div class="search_item" id="item_person">
              <span>Anzahl Personen:</span>
              <input type="number" id="search_person" placeholder="Anzahl Personen" name="search_person"/>
            </div>
            
            <button id="search_start">Suchen</button>
          </form>
        </div>

      </main>

      <footer th:replace="fragments/footer :: footer"/>
    </div>
  </body>
</html>
