<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>FAK Login Error</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style_index.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style_account.css}"/>
</head>
<body>
  <header th:replace="fragments/header :: header"/>
  <div id="centerdesign">
    <main>
      <div class="login-page">
        <div class="form">
          <form class="login-form">
            <h1 th:text="${errormsg}"/>
            <a href="/login" class="button">Einloggen</a>
            <a href="/registration" class="button">Registrieren</a>
          </form>
        </div>
      </div>
    </main>
    <footer th:replace="fragments/footer :: footer"/>
  </div>
</body>
</html>
